body{
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

header .nav{
    min-height: 80px;
    overflow: hidden;
    background-color: #fff;
}

header .logo h2
header .logo p{
    font-size: 16px;
    display: inline-block;
    color: #777777;
}

header .logo .icono{
    color: #bfbfbf;
}

header .menu .C1{background: #3da5e2;}
header .menu .C2{background: #005385;}
header .menu .C3{background: #003855;}

header .menu .C1:hover {background: #1ba0ef;}
header .menu .C2:hover {background: #00426a;}
header .menu .C3:hover {background: #002d44;}



/* 
MAIN */

/*
PORTAFOLIO  */

.portafolio{
    border-top: 5px solid #3da5e2;
    background: #ffffff;
}

.portafolio .titulo{
    text-align: center;
    color: #3da5e2;
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
}
.portafolio .galeria .contenedor-imagen{
    max-height: 500px;
    overflow: hidden;
}
.portafolio .galeria .contenedor-imagen a{
    background: #3da5e2;
    display: inline-block;
}
.portafolio .galeria .contenedor-imagen :hover img{
    opacity: .3;
}

.modal-dialog{
    max-width: 1000px;
}

.acerca-de img{
    max-width: 70%;
    height: auto;
} 
.acerca-de .foto .nombre{
    font-family: 'Open Sans', sans-serif;  
    color: #545454;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;

} 
.acerca-de .info .titulo{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5%;
    color: #005385;
    font-weight: 300;
    font-size: 40px;
} 
.acerca-de .info .resumen{
    letter-spacing: 1px;
}
.acerca-de .info .label{
    font-size: 18px;
    font-weight: 600;
    color: #005385;
    margin-bottom: 10px;
} 
.acerca-de .info .progress{
    background: #bbbbaaaa;
    border-radius: 0;
    height: 20px;
} 
.acerca-de .info .progress .progress-bar{
    background: #3da5e2;
    line-height:25px;
    padding: 10px;
} 

/* Contacto */
.contacto .titulo {
    font-family: 'Open Sans', sans-serif;
    color: #005385;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 5%;
    text-align: center;
}
.contacto .formulario .form-group{
    margin-bottom: 5%;
}
.contacto{
    border-top: 1px solid #cbcbcbcb;
    border-bottom: 1px solid #cbcbcbcb;
}
.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"],
.contacto .formulario textarea{
    padding: 15px;
    border:none;
    font-family: 'Open Sans', sans-serif;
}
.contacto .formulario textarea{
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}

.contacto .formulario button{
    background: #3da5e2;
    color: #fff;
    border: none;
    padding: 7px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 5%;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}
.contacto .formulario button:hover{
    background: #1ba0ef;
    color: #000000
}

/* Footer */
.redes-sociales{
    padding: 40px 0;
    margin-bottom: 40px;
}
.redes-sociales .icono{
    width: 100px;
    height: 100px;
    color: white;
    background: #cbcbcb;
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
    border-radius: 100%;
    transition: all .9s ease-in;
}
.redes-sociales .icono svg{
    width: 40px;
    height: 40px;
}

.redes-sociales .linkedin:hover{
    background: #0077b5;
}
.redes-sociales .git:hover{
    background: #000000;
}
.redes-sociales .ubicacion:hover{
    background: #bbbb00;
}
.redes-sociales .telefono:hover{
    background: #25d366;
}
.redes-sociales .mail:hover{
    background: #dd4b39;
}
/* media query */
/* dispositivo movil */
@media screen and (max-width: 576px){
    .redes-sociales .icono{
        width: 70px;
        height: 70px;
        margin: 10px 10px;
        align-items: center;
    }
}

/* Dispositivo md */

@media screen and (max-width: 768px){
}

/* dispositivo lg */
@media screen and (max-width: 992px){
    .logo {
        height: 76px;
    }
    header .menu{
        min-height: 76px;
    }
    header .menu a{
        width: 100%;
    }

    .portafolio .galeria .contenedor-imagen:nth-child(1){order:1;}
    .portafolio .galeria .contenedor-imagen:nth-child(2){order:3;}
    .portafolio .galeria .contenedor-imagen:nth-child(3){order:6;}
    .portafolio .galeria .contenedor-imagen:nth-child(4){order:2;}
    .portafolio .galeria .contenedor-imagen:nth-child(5){order:5;}
    .portafolio .galeria .contenedor-imagen:nth-child(6){order:4;}
    .portafolio .galeria .contenedor-imagen:nth-child(7){order:7;}

}
/* dispositivo xl */
@media screen and (max-width: 1200px){
}

/* dispositivo xxl */
@media screen and (max-width: 1400px){}
